@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700&display=swap");

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --main-background: white;
    --main-font-color: black;
    --alert-update-background: lightcoral;
}

/* @media (prefers-color-scheme: light) { */
@media (prefers-color-scheme: dark) {
    :root {
        --main-background: black;
        --main-font-color: white;
        --alert-update-background: darkred;
    }
}

body {
    font-family: "Baloo Paaji 2", sans-serif;
    font-size: 1.2rem;
    text-align: left;
    background-color: var(--main-background);
    color: var(--main-font-color);
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: var(--main-font-color);
}

h1,
h2 {
    margin: 0;
    text-align: center;
}

.alert-update {
    background-color: var(--alert-update-background);
    padding: 1rem;
    margin: 0.5rem 0;
    text-align: center;
    cursor: pointer;
}

footer {
    border-top: 1px solid var(--main-font-color);
    margin-top: 1.5em;
    padding: 1.5em 0;
    text-align: center;
    opacity: 0.3;
}
